header{
	position: relative;
	left: 0px;
}

nav{
	position: absolute;
	left: 85%;
	top: 10px;
}


body{	

	background-image: url("Grafiken/test.png");
}

section{
	color: #FFFFFF;
   	background-color: hsla(0, 0%, 0%, 0.9);
    	position: fixed;
    	top: 70%;
    	left: 0px;
	height: 200px;
}