header{
	position: absolute;
	left: 0px;
}



body{
	background-image: url(Grafiken/test.png);
}

section{
	
   	background-color: hsla(0, 50%, 50%, 0.5);
    	position: relative;
    	top: 500px;
    	left: 0px;
	height: 200px;
}