header{
	width: 100%;
	height: 300px;
	background-color: #006666;
}

h1{
	position: absolute;
	left: 25%;
}

main{
	width: 100%;
	height: 500px;
	background-color: #006666;
}

footer{
	width: 100%;
	height: 100px;
	background-color: #000;
	clear: both;
}




aside{
	position: absolute;
	top: 500px;
	left: 43%;
	
}
